body{
    background-image: url("https://images.unsplash.com/photo-1504177847824-d075f5706770?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGdhbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: right bottom;
    background-color: #185ADB;
}
.conteiner{
    background-color: #CBE4DE;
    width: 30%;
    margin-top: 100px;
    padding: 20px;
    border: 3px solid #2E4F4F;
}
h3{font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}
#guess{
    padding: 10px;
    width: 40%;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
#btn{
    background-color: #2C3333;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #CBE4DE;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
}


@media all and(max-width:500px){
    #guess{width: 80px;
    padding: 5px;
font-size: 10px;}
}